@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap');

$medium: 500;
$bold: 700;

$regular-font: "Roboto", sans-serif;

$heading-font: $regular-font;
$monospace-font: "Liberation Mono", monospace;
